<!DOCTYPE html>
<html>
<head>
  <title>paulogdm</title>
  <meta charset="utf-8">
  <meta name="description" content="Paulo G De Mitri homepage!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="paulogdm,paulo mitri, paulogdemitri">
  <meta name="author" content="paulogdm">

  <link rel="icon" href="/assets/favicon-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/assets/favicon-48.png" sizes="48x48" type="image/png">
  <link rel="icon" href="/assets/favicon-62.png" sizes="62x62" type="image/png">
  <link rel="icon" href="/assets/favicon-192.png" sizes="192x192" type="image/png">

  <!-- AnimeJS -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" integrity="sha256-BuxrUdr/4YoztQLxT6xmdO6hSQw2d6BtBUY1pteGds4=" crossorigin="anonymous"></script>
  <!-- FontAwesome -->
  <script async src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119871413-1"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag () { dataLayer.push(arguments) }
    gtag('js', new Date())

    gtag('config', 'UA-119871413-1')
  </script>

  <!-- Cookies -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
</head>

<body class="background-black">
  <div id="mainpage" class="container">

    <div class="px-4 py-4 clearfix">
      <div v-on:click="changeBackground()" class="lightbulb float-left is-clickable animated fadeIn p-2">
        <div>
          <i class="far fa-lightbulb fa-fw fa-2x"></i>
        </div>
      </div>
      <div v-on:click="changeLocale()" class="float-right is-clickable animated fadeIn p-2">
        <div>
          <img v-for="ilocale of availableLocales" v-if="selectedLocale === ilocale" v-bind:src="locale[ilocale].flag" class="mx-auto d-block flag" unselectable="on">
        </div>
      </div>
    </div>

    <div class="my-4 text-center">
      <div v-if="!$data" class="lds-circle"></div>
      <div class="me-size animated fadeIn">
        <img src="/assets/me.jpg" class="mx-auto d-block" v-bind:class="lights ? 'me-white' : 'me-black'" unselectable="on">
      </div>

      <div class="my-5 py-2 animated fadeIn">
        <h1 style="">paulogdm</h1>
        <h6 class="mt-3">
          <a class="mx-2" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#97;&#117;&#108;&#111;&#103;&#100;&#101;&#109;&#105;&#116;&#114;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank">
            <i class="far fa-envelope fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://twitter.com/paulogdm" target="_blank">
            <i class="fab fa-twitter fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://www.linkedin.com/in/paulogdm/" target="_blank">
            <i class="fab fa-linkedin-in fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://github.com/paulogdm" target="_blank">
            <i class="fab fa-github fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://stackoverflow.com/users/2665655/paulogdm" target="_blank">
            <i class="fab fa-stack-overflow fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://zeit.co/chat?experts" target="_blank">
            <b class="fa-fw fa-lg">▲</b>
          </a>
        </h6>
      </div>
    </div>

    <badge-title v-bind:title="locale[selectedLocale].sections.personal.title" v-bind:subtitle="locale[selectedLocale].sections.personal.subtitle"></badge-title>

    <div class="badge-container">
      <badge image="/assets/crypto.png" v-bind:content="locale[selectedLocale].sections.personal.crypto"></badge>
      <badge image="/assets/pcmasterrace.png" v-bind:content="locale[selectedLocale].sections.personal.pcmasterrace"></badge>
      <badge image="/assets/owblack.png" v-bind:content="locale[selectedLocale].sections.personal.overwatch"></badge>
      <badge image="/assets/headphone.png" v-bind:content="locale[selectedLocale].sections.personal.headphones"></badge>
      <badge image="/assets/talk.png" v-bind:content="locale[selectedLocale].sections.personal.talk"></badge>
      <badge image="/assets/icetea.png" v-bind:content="locale[selectedLocale].sections.personal.icetea"></badge>
    </div>

    <badge-title v-bind:title="locale[selectedLocale].sections.professional.title" v-bind:subtitle="locale[selectedLocale].sections.professional.subtitle"></badge-title>

    <div class="badge-container">
      <badge image="/assets/computer.png" v-bind:content="locale[selectedLocale].sections.professional.whoami"></badge>
      <badge image="/assets/js.png" v-bind:content="locale[selectedLocale].sections.professional.js"></badge>
      <badge image="/assets/python.png" v-bind:content="locale[selectedLocale].sections.professional.python"></badge>
      <badge image="/assets/solidity.png" v-bind:content="locale[selectedLocale].sections.professional.solidity"></badge>
      <badge image="/assets/c.png" v-bind:content="locale[selectedLocale].sections.professional.c"></badge>
      <badge image="/assets/go.png" v-bind:content="locale[selectedLocale].sections.professional.go"></badge>
    </div>

    <badge-title v-bind:title="locale[selectedLocale].sections.toolbelt.title" v-bind:subtitle="locale[selectedLocale].sections.toolbelt.subtitle"></badge-title>

    <div class="badge-container">
      <badge image="/assets/bash.png" v-bind:content="locale[selectedLocale].sections.toolbelt.bash"></badge>
      <badge image="/assets/sublime.png" v-bind:content="locale[selectedLocale].sections.toolbelt.sublime"></badge>
      <badge image="/assets/hyper.png" v-bind:content="locale[selectedLocale].sections.toolbelt.hyper"></badge>
    </div>

    <badge-title v-bind:title="locale[selectedLocale].sections.nodemodules.title" v-bind:subtitle="locale[selectedLocale].sections.nodemodules.subtitle"></badge-title>

    <div class="badge-container">
      <badge v-bind:image="lights ? '/assets/now-black.png' : '/assets/now-white.png'" v-bind:content="locale[selectedLocale].sections.nodemodules.now"></badge>
      <badge image="/assets/micro.png" v-bind:content="locale[selectedLocale].sections.nodemodules.micro"></badge>
      <badge image="/assets/artillery.png" v-bind:content="locale[selectedLocale].sections.nodemodules.artillery"></badge>
      <badge image="/assets/graphql.png" v-bind:content="locale[selectedLocale].sections.nodemodules.graphql"></badge>
      <badge image="/assets/objection.png" v-bind:content="locale[selectedLocale].sections.nodemodules.objection"></badge>
      <badge image="/assets/ava.png" v-bind:content="locale[selectedLocale].sections.nodemodules.ava"></badge>
      <!-- <badge image="/assets/socketio.png" v-bind:content="locale[selectedLocale].sections.nodemodules.socketio"></badge> -->
    </div>

    <div class="my-4 text-center">
      <div class="my-5 py-2 animated fadeInUp">
        <h6>Fork me on github!
          <a target="_blank" href="https://github.com/paulogdm/paulogdm.com" class="mx-2">
            <i class="fas fa-fw fa-code-branch"></i>
          </a>
        </h6>
      </div>
      <div style="color:gray">
      <small>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="https://github.com/paomediafrom">Paomedia</a> <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
      </div>
    </div>

  </div>
</body>

  <!-- my things, DONT TOUCH-->
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
  <script src="/texts.js" type="text/javascript"></script>
  <script src="/scripts.js" type="text/javascript"></script>

</html>
