<!DOCTYPE html>
<html>
<head>
  <title>paulogdm</title>
  <meta charset="utf-8">
  <meta name="description" content="Paulo G De Mitri homepage!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="paulogdm,paulo mitri, paulogdemitri">
  <meta name="author" content="paulogdm">

  <link rel="icon" href="/assets/favicon-16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/assets/favicon-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/assets/favicon-48.png" sizes="48x48" type="image/png">
  <link rel="icon" href="/assets/favicon-62.png" sizes="62x62" type="image/png">
  <link rel="icon" href="/assets/favicon-192.png" sizes="192x192" type="image/png">


  <!-- FontAwesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Cookies -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
</head>

<body class="background-black">
  <div id="mainpage" class="container">

    <div class="px-4 py-4 clearfix">
      <div v-on:click="changeBackground()" class="lightbulb float-left is-clickable animated fadeIn p-2">
        <div>
          <i class="far fa-lightbulb fa-fw fa-2x"></i>
        </div>
      </div>
      <div v-on:click="changeLocale()" class="float-right is-clickable animated fadeIn p-2">
        <div>
          <img v-for="ilocale of availableLocales" v-if="selectedLocale === ilocale" v-bind:src="locale[ilocale].flag" class="mx-auto d-block flag" unselectable="on">
        </div>
      </div>
    </div>

    <div class="my-4 text-center">
      <div class="me-size animated fadeIn">
        <img src="/assets/me.jpg" class="mx-auto d-block" v-bind:class="lights ? 'me-white' : 'me-black'" unselectable="on">
      </div>
        
      <div class="my-5 py-2 animated fadeIn">
        <h1>paulogdm</h1>
        <h6 class="mt-3">
          <a class="mx-2" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#97;&#117;&#108;&#111;&#103;&#100;&#101;&#109;&#105;&#116;&#114;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank">
            <i class="far fa-envelope fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://fb.com/paulogdemitri" target="_blank">
            <i class="fab fa-facebook-f fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://twitter.com/paulogdm" target="_blank">
            <i class="fab fa-twitter fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://www.linkedin.com/in/paulogdm/" target="_blank">
            <i class="fab fa-linkedin-in fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://github.com/paulogdm" target="_blank">
            <i class="fab fa-github fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://stackoverflow.com/users/2665655/paulogdm" target="_blank">
            <i class="fab fa-stack-overflow fa-fw fa-lg"></i>
          </a>
        </h6>
      </div>
    </div>

    <div class="mt-4"></div>
    <h2 class="animated fadeIn"> <i class="fas fa-caret-right"></i> {{locale[selectedLocale].sections.personal.title}}</h2>
    <h6 class="animated fadeIn"><i class="animated fadeIn infinite">_</i> {{locale[selectedLocale].sections.personal.description}}</h6>
    <div class="mb-2"></div>

    <div class="badge-container">
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/crypto.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.personal.crypto"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/pcmasterrace.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.personal.pcmasterrace"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/owblack.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.personal.overwatch"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/headphone.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.personal.headphones"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/talk.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.personal.talk"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/icetea.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.personal.icetea"></h6>
        </div>
      </div>
    </div>

    <div class="mt-4"></div>
    <h2 class="animated fadeIn"> <i class="fas fa-caret-right"></i> {{locale[selectedLocale].sections.professional.title}}</h2>
    <h6 class="animated fadeIn"><i class="animated fadeIn infinite">_</i> {{locale[selectedLocale].sections.professional.description}}</h6>
    <div class="mb-2"></div>

    <div class="badge-container">
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/computer.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.professional.whoami"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/js.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.professional.js"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/python.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.professional.python"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/solidity.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.professional.solidity"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/c.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.professional.c"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/go.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.professional.go"></h6>
        </div>
      </div>
    </div>

    <div class="mt-4"></div>
    <h2 class="animated fadeIn"> <i class="fas fa-caret-right"></i> {{locale[selectedLocale].sections.toolbelt.title}}</h2>
    <h6 class="animated fadeIn"><i class="animated fadeIn infinite">_</i> {{locale[selectedLocale].sections.toolbelt.description}}</h6>
    <div class="mb-2"></div>

    <div class="badge-container">
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/gitkraken.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.toolbelt.gitkraken"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/sublime.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.toolbelt.sublime"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/hyper.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.toolbelt.hyper"></h6>
        </div>
      </div>
    </div>

    <div class="mt-4"></div>
    <h2 class="animated fadeIn"> <i class="fas fa-caret-right"></i> {{locale[selectedLocale].sections.nodemodules.title}}</h2>
    <h6 class="animated fadeIn"><i class="animated fadeIn infinite">_</i> {{locale[selectedLocale].sections.nodemodules.description}}</h6>
    <div class="mb-2"></div>

    <div class="badge-container">
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" v-bind:src="lights ? '/assets/now-black.png' : '/assets/now-white.png'">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.nodemodules.now"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/micro.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.nodemodules.micro"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/artillery.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.nodemodules.artillery"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/graphql.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.nodemodules.graphql"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/objection.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.nodemodules.objection"></h6>
        </div>
      </div>
      <div class="badge text-center animated fadeInUp">
        <div class="front">
          <img class="img-fluid mx-auto d-block" src="/assets/ava.png">
        </div>
        <div class="back badge-text">
          <h6 v-html="locale[selectedLocale].sections.nodemodules.ava"></h6>
        </div>
      </div>
    </div>

    <div class="my-4 text-center">  
      <div class="my-5 py-2 animated fadeInUp">
        <h6>Fork me on github!
          <a target="_blank" href="https://github.com/paulogdm/paulogdm.com" class="ml-2">
            <i class="fab fa-fw fa-github"></i>
          </a>
        </h6>
      </div>
      <div style="color:gray">
      <small>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="https://github.com/paomediafrom">Paomedia</a> <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
      </div>
    </div>

  </div>
</body>

  <!-- my things, DONT TOUCH-->
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
  <script src="/scripts.js" type="text/javascript"></script>

</html>